 body {
   text-align: center;
   background-color: #90d6ff;
   margin: 0;
   overflow-x: hidden;
 }

 h1 {
  margin-top: 80px;
font-family: "mono45-headline", monospace;
  font-weight: 700px;
  font-style: normal; 
  font-size: 80px;
  color: rgb(92, 88, 88);
}

 .game-container {
   margin-top: 50px;
 }

 .choices {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-top: 5%;
   }

 .choice button {
  background: none;
   border:none;
   padding: 20;
   cursor: pointer;
 }

 .choice img {
   width: 30%;
   height: 30%;
   justify-content: center;
   border: 2px solid transparent;
   border-radius: 10px;
   transition: transform 0.2s, border-color 0.2s;
 }

 .choice img:hover {
   transform: scale(1.1);
   border-color: #ffffff;
 }

 .restart {
   padding: 10px 20px;
   font-size: 20px;
   cursor: pointer;
   background-color: #075486;
   color: white;
   border: none;
   border-radius: 5px;
   margin-top: 10%;
   display:none;
 }

 .restart:hover {
   background-color: #5e86dd;
 }

 .scoreboard {
   margin-top: 30px;
 }

 .result {
  margin-top: 40px;
   font-size: 18px;
   color: #ffffff;
 }
.choices-container {
  margin-top:20px;
  font-size:16px;
}
 .confetti {
   position: fixed;
   top: 0;
   width: 10px;
   height: 10px;
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 50%;
   animation: fall 3s infinite;
 }

 @keyframes fall {
   0% {
     transform: translateY(-100%) rotate(0deg);
     opacity: 1;
   }

   100% {
     transform: translateY(100vh) rotate(720deg);
     opacity: 0;
   }
 }