 body {
   text-align: center;
   background-color: #91bef1;
   margin: 0;
   overflow-x: hidden;
 }

 h1 {
  font-family: "arbuckle-bright", sans-serif;
    font-weight: 700px;
    font-style: normal;
    font-size: 124px;
    color: rgb(92, 88, 88);
    margin-top: 50px;
 }

 .game-container {
   margin-top: 80px;
 }

 .choices {
   display: flex;
   justify-content: center;

   margin: 5%;
 }

 .choice button {
   background: none;
   border: none;
   padding: 0;
   cursor: pointer;
 }

 .choice img {
   width: 25%;
   height: 25%;
   border: 2px solid transparent;
   border-radius: 10px;
   transition: transform 0.2s, border-color 0.2s;

 }

 .choice img:hover {
   transform: scale(1.1);
   border-color: #ffffff;
 }

 .restart {
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   background-color: #075486;
   color: white;
   border: none;
   border-radius: 5px;
   margin-top: 1%;
 
 }

 .restart:hover {
   background-color: #5e86dd;
 }

 .scoreboard {
   margin-top: 30px;
   font-size: 30px;
 }

 .results {
  margin-top: 4%;
   font-size: 28px;
   color: #ffffff;
 }

 .choices-container {
   
   font-size: 28px;
 }

 .confetti {
   position: fixed;
   top: 0;
   width: 10px;
   height: 10px;
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 50%;
   animation: fall 3s infinite;
 }
#greeting{
  font-size: 16px;
}
 @keyframes fall {
   0% {
     transform: translateY(-100%) rotate(0deg);
     opacity: 1;
   }

   100% {
     transform: translateY(100vh) rotate(720deg);
     opacity: 0;
   }
 }